

/*  ------------------------------------------FOOTER --------------------------*/
ul 
{
	padding-inline-start: 0;
}

.page-footer 
{
	background-color: #000000;
	font-style: none;
	color: #ffffff;
	text-decoration: none;
}

.page-footer a
{
	color: #ffffff;
	text-decoration: none;
	font-size: large;
}

.page-footer ul
{
	list-style: none;
	text-align: center;
}

.container-footer
{
	display: flex;
	justify-content: space-evenly;
	text-decoration: none;
}

.footer-copyright
{
	justify-content: center;
}

.list-unstyled li
{
	text-decoration: none;
	padding-top: 15px;
}

ul li a
{
	text-align: center;
}
.footer-bas
{
	justify-content: space-around;
	font-size: small;
	text-align: center;
    padding-bottom: 16px;
    padding-top: 16px;
}

.h5footer
{
	text-align: center;
	color: #ffce00;
	margin-top: 10vh;
    font-size: larger;
    margin-bottom: -15px;
}

.lienfooter
{
	margin-left: 20px;
}

/*  ------------------------------------------FIN FOOTER --------------------------*/

/*  ------------------------------------------INSCRIPTION --------------------------*/


.popup{
    margin:5% auto;
    width:40%;
    background-color: white;
    border-radius: 5px;
    padding:1em;
}

.jaune{
    color:#ffce00;
}

.noir{
    color:#000000,
}

.titre{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.comptes{
    align-items: center;
    margin-bottom: 5px;
}

.compteArtiste{
    text-align: left;
}

.compteFan{
    text-align: end;
}

.maigre{
    font-size: 35px;
    font-style: initial;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.gras{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*  ------------------------------------------FIN INSCRIPTION --------------------------*/

.mu
{
	text-decoration: none;
	color: #000000;
}