{% extends 'base.html.twig' %}

{% block title %}HillTop{% endblock %}

{% block body %}

    <div class="row d-flex justify-content-center mt-3">

        {% for newMusique in musiques %}

            <div class="col-md-3 border border-secondary rounded mr-5 mb-5 text-center">

                <img src="{{ newMusique.image }}" class="col-md-12 rounded pt-3"><hr>

                <a href="" class="mu"><h4>{{ newMusique.titre }}</h4></a>

                <p>{{ newMusique.artiste }}</p> 
                <p>{{ newMusique.album }}</p><hr>

            </div>
        {% endfor %}

    </div>

{% endblock %}
