{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<div style="width: 90%; margin: 0 auto;">
		<div id="carouseltendance" class="carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="img/spri.jpg" class="d-block w-100" style="height: 55vh" alt="">
				</div>
				<div class="carousel-item">
					<img src="img/TWD.jpg" class="d-block w-100" style="height: 55vh" alt="">
				</div>
				<div class="carousel-item">
					<img src="img/cover.jpg" class="d-block w-100" style="height: 55vh" alt="">
				</div>
			</div>
			
		</div>
	</div>

	<div class="row d-flex justify-content-center mt-3">

		{% for newMusique in musique %}

			<div class="col-md-2 rounded mr-5 mb-5 text-center">

				<img src="{{ newMusique.image }}" class="col-md-12 rounded pt-3"><hr>

				<a href="" class="mu">
					<h4>{{ newMusique.titre }}</h4>
				</a>

				<p>{{ newMusique.artiste }}</p>
				<p>{{ newMusique.album }}</p><hr>

			</div>
		{% endfor %}


	{% endblock %}
