<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %}Hilltop</title>
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	</head>
	<body>

		<header></header>

		<nav></nav>

		{% block body %}{% endblock %}

		<!-- Footer -->
		<footer class="page-footer font-small indigo">

			<!-- Footer Links -->
			<div class="container-footer text-center text-md-left">
		
			<!-- Grid row -->
			<!-- <div class="row"> -->
				
				<div class="col-md-3 mx-auto">
				<!-- Links -->
				<h5 class="h5footer font-weight-bold text-uppercase mt-3 mb-4">SOCIÉTÉ</h5>
		
				<ul class="list-unstyled">
					<li>
					<a href="#!">A propos</a>
					</li>
					<li>
					<a href="#!">Offre d'emploi</a>
					</li>
					<li>
					<a href="#!">For the Record</a>
					</li>
				</ul>
		
				</div>
			
				<!-- Grid column -->
				<div class="col-md-3 mx-auto">
		
				<!-- Links -->
				<h5 class="h5footer font-weight-bold text-uppercase mt-3 mb-4">COMMUNAUTÉS</h5>
		
				<ul class="list-unstyled">
					<li>
					<a href="#!">Espace artistes</a>
					</li>
					<li>
					<a href="#!">Développeurs</a>
					</li>
					<li>
					<a href="#!">Marques</a>
					</li>
					<li>
					<a href="#!">Investisseurs</a>
					</li>
					<li>
					<a href="#!">Fournisseurs</a>
					</li>
				</ul>
		
				</div>
				<!-- Grid column -->

				<div class="col-md-3 mx-auto">
		
				<!-- Links -->
				<h5 class="h5footer font-weight-bold text-uppercase mt-3 mb-4">LIENS UTILES</h5>
		
				<ul class="list-unstyled">
					<li>
					<a href="#!">Aide</a>
					</li>
					<li>
					<a href="#!">Lecteur Web</a>
					</li>
					<li>
					<a href="#!">Appli Mobile Gratuite</a>
					</li>
				</ul>
		
				</div>
				<!-- Grid column -->
		
			</div>
			<!-- Grid row -->
		
			</div>
			<!-- Footer Links -->
		
			<!-- Copyright -->
			<hr class="clearfix w-100 d-md-none pb-3">

			<div class="footer-bas">© 2020 - Copyright - HillTop - 
			<a class="lienfooter" href="#"> Légal</a>
			<a class="lienfooter" href="#"> Centre de confidentialité</a>
			<a class="lienfooter" href="#"> Protection  des données</a>
			<a class="lienfooter" href="#"> Cookies</a>
			<a class="lienfooter" href="#"> A propos des pubs</a>
			</div>
			<!-- Copyright -->
		
		</footer>
		<!-- Footer -->


		{% block javascripts %}
			<script src=" {{ asset('js/app.js') }}"></script>
		{% endblock %}
	</body>
</html>
