<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %}Hilltop</title>
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	</head>
	<body>

		<header></header>

		<nav></nav>

		{% block body %}{% endblock %}

		<footer></footer>

		{% block javascripts %}
			<script src=" {{ asset('js/app.js') }}"></script>
		{% endblock %}
	</body>
</html>
